<!DOCTYPE html>
<html lang=fr>
<head>
<meta charset="UTF-8">  
<title>CV</title>
<script src="../bower_components/angular/angular.js"></script>
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"></script> -->
<script src="../bower_components/js-yaml/dist/js-yaml.js"></script>
<script type="text/javascript">
  //the test : 
  //alert ( JSON.stringify( jsyaml.load("a: a") ));
  loadFile= function(url) {
    if (typeof XMLHttpRequest != 'undefined') {
      xhr = new XMLHttpRequest();
    } else {
      xhr = new ActiveXObject('Microsoft.XMLHTTP');//IE6?
    }
    try {
      xhr.open('GET', url, false);
      xhr.send(null);
    } catch (e) {
      isCrossOriginRestricted = true;
    }
    status = (xhr.status === 1223) ? 204 :(xhr.status === 0 && (self.location || {}).protocol == 'file:') ? 200 : xhr.status;
    if ((status >= 200 && status < 300) || (status === 304) || (status === ''))
      return xhr.responseText;
    return null;
  };
  var yhr=function(name){
    return jsyaml.load(loadFile(name));
  };
  try{
    var cv = yhr("data/cv-example.yaml");
  } catch (e) {
    alert(e);
  }
  angular.module('cvapp',[]).controller('MainCtrl', function ($scope) {
    $scope.cv=cv;
  });
</script>
<link rel="stylesheet" type="text/css" media="all" href="style/styles.css">
<link rel="stylesheet" type="text/css" media="screen" href="style/screen.css">
<link rel="stylesheet" type="text/css" media="print" href="style/print.css">
</head>
<body ng-app="cvapp">
<noscript>Javascript not started</noscript>
<div ng-controller="MainCtrl">
  <table class="firstPage">
    <thead><tr><td>
      <div class="header"></div>
    </td></tr></thead>
    <tbody><tr><td>
      <div class="titles">
       <span class="name">{{cv.firstname}} {{cv.lastname}}</span>
       <h2 ng-repeat="title in cv.titles">{{title}}</h2>
      </div>
      <div class="profile">
       <h1>Profil</h1>
       <ul><li ng-repeat="p in cv.profile">{{p}}</li></ul>
      </div>
      <div class="skills">
       <h1>Compétences Techniques et Fonctionnelles</h1>
       <div class="two-columns">
        <div ng-repeat="p in cv.skills" >
         <div class="skill no-breakable-col" ng-repeat="(key, values) in p" contenteditable="true" >
          <h2>{{key}}</h2>
          <ul><li ng-repeat="skill in values" contenteditable="true" >{{skill}}</li></ul>
         </div>
        </div>
       </div>
      </div>
      <div class="formation break-before">
        <h1>Formations</h1>
        <ul><li ng-repeat="f in cv.formations" class="no-breakable-col">
          <h2>{{f.year}}</h2>
          <h3>{{f.title}}</h3>
          <span>{{f.school}}</span>
        </li></ul>
      </div>
      <div class="lang">
        <h1>Langues</h1>
        <ul><li ng-repeat="lang in cv.languages">{{lang}}</li></ul> 
      </div>
    </td></tr></tbody>
    <tfoot><tr><td>
      <div class="footer"></div>
    </td></tr></tfoot>
  </table>
  <table class="experiences break-before">
    <thead><tr><td>
      <div class="header"><h1>Missions- Projets</h1></div>
    </td></tr></thead>
    <tbody>
      <tr><td>
        <div ng-repeat="exp in cv.experience" class="experience no-breakable">
          <h2>{{exp.enterprise}} - {{exp.project.title}}</h2>
          <ul>
            <li><b>Durée : </b>{{exp.duration}}</li>
            <li><b>Projet : </b><br>{{exp.project.description}}</li>
            <li><b>Rôle : </b>{{exp.role.title}}<br>
              <p ng-repeat="desc0 in exp.role.description">{{desc0}}</p>
            </li>
            <li><b>Équipe : </b>{{exp.team}}</li>
            <li><b>Environnement Technique: </b>{{exp.environment}}</li>
          </ul>
        </div>
      </td></tr>
      <tr><td class="add-a-page"></td></tr>
    </tbody>
    <tfoot><tr><td>
      <div class="footer"></div>
    </td></tr></tfoot>
  </table>
</div>
</body></html>
